@import '~bootstrap/scss/bootstrap';
@import '~sass-rem';

.header__logo {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: rem(24px);
  display: inline-block;
  padding: 20px 0;
}

.social-menu {
  padding: 20px 0;

  &__item {
    color: black;

    &:hover {
      color: grey;
    }
  }
}

.welcome-box {
  font-family: 'Merriweather', serif;
  text-align: left;
  line-height: rem(24px);
  padding: 40px 0;

  &__header {
    font-size: rem(64px);
    font-weight: 900;
  }
}
